@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#background{
    background: linear-gradient(307.05deg, #D2CDFF 35.26%, #FFFFFF 100.99%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.01em;
    align-items: center;
    height: 20vh;
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #5831DD;
}

#main-container{
    padding: 2rem;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    text-align: center;
    justify-content: center;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    /* identical to box height, or 78% */
    letter-spacing: -0.03em;
    color: rgba(54, 21, 168, 0.7);
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    text-align: center;
    letter-spacing: -0.055em;

    color: #C4B3FF;

    text-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
}

p{
    display:inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    /* color: rgba(0, 0, 0, 0.7); */
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #92909D;
}

#interests-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 900px;
    height: 550px;
    justify-items: center;
    align-items: center;
}

.interest{
    width: 150px;
    height: 150px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    box-shadow: 0px 11.0562px 33.1685px rgba(47, 43, 67, 0.12);
    border-radius: 46.0674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(125, 7, 100, 0.7);
    /* transition: transform 0.5s ease-out;
    transition: color 200ms ease-in; */
    transition: all 200ms ease-in;
}

.interest-image{
    object-fit: cover;
    width: 60%;

}

button{
    border: none
}

.interest-checkbox{
    display: none;
}

.checked{
    transform: scale(1.05);
    background-color: #674CBF;
    color: #fff;
}

.interest-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;

    text-align: center;
    letter-spacing: -0.055em;

}

.button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.055em;
    color: rgba(255, 255, 255, 0.95);
    background: #674CBF;
    border-radius: 100px;
    padding: 10px 45px;
    transition: all 200ms ease-in;
}

.button:hover{
    transform: scale(1.01);
    color: #674CBF;
    background-color: #FFFFFF;
    
}

a{
    text-decoration: none;
}