@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.background {
    background: linear-gradient(307.05deg, #D2CDFF 35.26%, #FFFFFF 100.99%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.01em;
    height: 20vh;
    padding: 3rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #5831DD;
}

.main-container{
    padding: 3rem;
    padding-top: 0;
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: -0.055em;
    color: #D172BD;
    text-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12)
}

.choice-form{
    height: 62.5vh;
    aspect-ratio: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=checkbox]{
    display: none;
}

.choice-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choice{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    box-shadow: 0px 10.48px 31.44px rgba(47, 43, 67, 0.12);
    border-radius: 43.6667px;
    height: 48vh;
    aspect-ratio: 0.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0px;
    color: #9A7FF6;
    transition: transform 200ms ease-in,
                color 200ms ease-in,
                background-color 200ms ease-in;
    cursor: pointer;
}

.choice > img{
    height: 35vh
}

.choice > h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34.9333px;
    line-height: 31px;
    letter-spacing: -0.03em;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67, 0.6);
}

#submit{
    height: calc(5.5vh + 10px);
    background: #674CBF;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin: 0 auto;
    padding: 0px 4rem;
    border: none;
    transition: transform 200ms ease-in,
                color 200ms ease-in,
                background-color 200ms ease-in;
    cursor:pointer;
}

#submit:hover{
    transform: scale(1.01);
    color: #674CBF;
    background-color: #FFFFFF;
}

.checked{
    transform: scale(1.05);
    background-color: #674CBF;
    color: #fff;
}