@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

#background{
    background: linear-gradient(307.05deg, #D2CDFF 35.26%, #FFFFFF 100.99%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.01em;
    height: 20vh;    
    padding: 3rem;    
    padding-bottom: 0;    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #5831DD;
}

#main-container{
    padding: 3rem;    
    padding-top: 0;    
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 50px;
    padding: 3rem;    
    height: 65.5vh;    
    aspect-ratio: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    /* identical to box height, or 78% */
    letter-spacing: -0.03em;
    color: rgba(54, 21, 168, 0.7);
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    text-align: center;
    letter-spacing: -0.03em;
    padding-top: 6px;
    color: #C4B2FF;
}

.registration-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.text-input{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.text-input > img{
    position: absolute;
    aspect-ratio: 1;
    height: 24px;
    align-items: flex-start;
    left: 63px;
}

.input{
    width: 75%;
    height: 5.5vh;    
    padding-left: 50px;
    background: rgba(255, 255, 255, 0.7);
    /* Focus ring */
    box-shadow: 0px 0px 0px 5px rgba(132, 66, 211, 0.48);
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67, 0.6);
    transition: 0.5s;
}

.input:focus {
    box-shadow: 0px 0px 2px 7px hsla(254, 50%, 50%, 0.7);
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{ 
    -webkit-appearance: none; 
    margin: 0; 
}

#submit{
    width: 40%;
    height: 5.5vh;
    background: #674CBF;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-top: 10px;
    border: none;
}