<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Checker</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/formsubmit" method="post">
        <input type="text" name="Science" placeholder="Science"><br><br>
        <input type="text" name="Maths" placeholder="Maths"><br><br>
        <input type="text" name="English" placeholder="English"><br><br>
        <input type="text" name="Computer" placeholder="Computer"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>