<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Checker</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/result" method="post">
        <input type="text" name="inp" placeholder="Science"><br><br>
        <input type="text" name="inp" placeholder="Maths"><br><br>
        <input type="text" name="inp" placeholder="English"><br><br>
        <input type="text" name="inp" placeholder="Computer"><br><br>
        <input type="submit" value="Result">
        <input type="submit" value="Percentage" formaction="/percentage"></button>
    </form>
</body>
</html>