{% extends 'base.html' %}

{% block head %}
<title>Modern Matrimony</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css' ) }}">
{% endblock %}

{% block body %}
<div id="background"></div>
<nav>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <div class="logo-text">Modern<br>Matrimony</div>
    </div>
</nav>
<form action="/form" method="POST" id="main-container">
    <div class="form-container" id="form-container1">
        <div class="head">
            <h1>Registration</h1>
            <h2 id>Personal Details</h2>
        </div>
        <div class="registration-form">
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="First Name" name="f_name" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="Last Name" name="l_name" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="number" class="input" placeholder="Phone Number" name="ph" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/at_icon.svg') }}" alt="">
                <input type="email" class="input" placeholder="Email I.D." name="email" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/key_icon.svg') }}" alt="">
                <input type="password" class="input" placeholder="Password" name="password" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/gender_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="Gender" name="gender" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/pin_icon.svg') }}" alt="">
                <input type="number" class="input" placeholder="Pin Code" name="pincode" required>
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/city_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="City" name="city" required>
            </div>
            <input id="submit1" class="submit" type="button" value="Next">
        </div>
    </div>
    <div class="form-container display" id="form-container2">
        <div class="head">
            <h1>Registration</h1>
            <h2>Other Details</h2>
        </div>
        <div class="registration-form">
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/board_icon.svg') }}" alt="">
                <input type="text" name="education" class="input" placeholder="Highest Education Level">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/briefcase_icon.svg') }}" alt="">
                <input type="text" name="occupation" class="input" placeholder="Occupation">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/school_icon.svg') }}" alt="">
                <input type="text" name="alma" class="input" placeholder="Alma Matter">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/cake_icon.svg') }}" alt="">
                <input type="text" name="dob" class="input" placeholder="Date of Birth" onfocus="this.type='date'"
                    onblur="this.type='text'">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/religion_icon.svg') }}" alt="">
                <input type="text" name="religion" class="input" placeholder="Religion">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/caste_icon.svg') }}" alt="">
                <input type="text" name="caste" class="input" placeholder="Caste">
            </div>
            <div class="check-input">
                <input type="checkbox" name="terms" id="checkbox">
                <label for="checkbox" id="text-label">I Agree to All the <a href="">Terms and Conditions</a></label>
            </div>
            <input type="button" id="submit2" class="submit" value="Finish">
        </div>
    </div>
    <div class="form-container display" id="form-container3">
        <h1>I'm Looking to</h1>
        <div action="" class="choice-form">
            <input type="checkbox" name="date" class="date">
            <input type="checkbox" name="marry" class="marry">
            <input type="checkbox" name="not-sure" class="not-sure">
            <div class="choice-container">
                <div class="date choice" onclick="func(date)">
                    <h2>Date</h2>
                    <img src="{{ url_for('static', filename='images/choices/date.png') }}" alt="">
                </div>
                <div class="marry choice" onclick="func(marry)">
                    <h2>Marry</h2>
                    <img src="{{ url_for('static', filename='images/choices/marry.png') }}" alt="">
                </div>
                <div class="not-sure choice" onclick="func(notsure)">
                    <h2>I'm not sure</h2>
                    <img src="{{ url_for('static', filename='images/choices/not_sure.png') }}" alt="">
                </div>
            </div>
            <p>(You can always change this later on)</p>
            <input type="button" id="submit3" class="submit" value="Next">
        </div>
    </div>
    <div class="form-container display" id="form-container4">
        <input type="text" name="interests" id="interests-input" value="000000000000000" required>
        <h1>Select your Interests to find Like-minded Matches</h1>
        <h2>(minimum 5)</h2>
        <div action="/test" method="post" id="myform"></div>
        <div id="interests-container">
        </div>
        <button id="start-button" class="button">Finish</button>
    </div>
</form>

<script>
    const interests = ["reading", "painting", "photography", "cooking", "travelling", "sports", "workout", "lmusic", "pmusic", "dancing", "art", "movies", "gardening", "science", "social"]
    const interestText = {
        "reading": "Reading",
        "painting": "Painting",
        "photography": "Photography",
        "cooking": "Cooking",
        "travelling": "Travelling",
        "sports": "Sports",
        "workout": "Working out",
        "lmusic": "Listening to music",
        "pmusic": "Playing music",
        "dancing": "Dancing",
        "art": "Art",
        "movies": "Movies",
        "gardening": "Gardening",
        "science": "Science",
        "social": "Social Causes",
    }
    var x = document.getElementsByClassName('submit');
    var form = document.getElementById('main-container');
    var l = x.length;
    for (i = 0; i < l; i++) {
        x[i].onclick = ((num, form) => {
            return () => {
                if (!form.checkValidity()) {
                    document.getElementsByClassName('form-container')[num].classList.add('current')
                    if (num == 2) {
                        container = document.getElementById("interests-container")
                        for (i in interests) {
                            form = document.getElementById('myform')
                            interestsInput = document.getElementById('interests-input')
                            interestNode = document.createElement('div')
                            interestNode.id = interests[i]
                            interestNode.classList.add("interest")
                            interestNode.innerHTML = `
                                <img src="/static/images/interests/${interests[i]}.png" class="interest-image" alt="">
                                <p class="interest-text">${interestText[interests[i]]}</p>
                            `
                            interestNode.onclick = (function (id, index) {
                                return function () {
                                    var interestData = document.getElementById('interests-input')
                                    if (interestData.value[index] == '0') {
                                        interestData.value = interestData.value.substring(0, index)+'1'+interestData.value.substring(Number(index)+1)
                                    } else {
                                        interestData.value = interestData.value.substring(0, index)+'0'+interestData.value.substring(Number(index)+1)
                                    }
                                    document.getElementById(id).classList.toggle('checked')
                                    console.log(interestData.value)
                                }
                            })(interests[i], i)
                            container.appendChild(interestNode)
                        }   
                    }
                    document.getElementsByClassName('form-container')[num + 1].classList.remove('display')
                }
            }
        })(i, form)
    }
    c = document.getElementsByClassName('choice')
    for (i in c) {
        c[i].onclick = ((elem) => {
            return () => {
                check = document.getElementsByClassName(elem.classList[0])[0]
                check.checked = !check.checked
                elem.classList.toggle('checked')
            }
        })(c[i])
    }
</script>
{% endblock %}