{% extends 'base.html' %}

{% block head %}
<title>Modern Matrimony</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/interests.css') }}">
{% endblock %}

{% block body %}
<div id="background"></div>
<nav>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <div class="logo-text">Modern<br>Matrimony</div>
    </div>
</nav>
<div id="main-container">
    <h1>Select your Interests to find Like-minded Matches</h1>
    <h2>(minimum 5)</h2>
    <form action="/test" method="post" id="myform"></form>
    <div id="interests-container">
    </div>
    <a href="/login"><div id="start-button" class="button">Next</div></a>
</div>

<script>
    interests = ["reading", "painting", "photography",  "cooking", "travelling", "sports",  "workout",  "lmusic", "pmusic", "dancing", "art", "movies", "gardening", "science", "social"]
    interestText = {
        "reading": "Reading",
        "painting": "Painting",
        "photography": "Photography",
        "cooking" : "Cooking",
        "travelling": "Travelling",
        "sports" : "Sports",
        "workout": "Working out",
        "lmusic": "Listening to music",
        "pmusic": "Playing music",
        "dancing": "Dancing",
        "art": "Art",
        "movies": "Movies",
        "gardening": "Gardening",
        "science": "Science",
        "social": "Social Causes"
    }

    window.onload = () => {
        container = document.getElementById("interests-container")
        for (i in interests){
            form = document.getElementById('myform')
            checkbox = document.createElement('input')
            checkbox.type = 'checkbox'
            checkbox.classList.add("interest-checkbox")
            checkbox.classList.add(interests[i])
            checkbox.value = interests[i]
            form.appendChild(checkbox)
            interestNode = document.createElement('div')
            interestNode.id = interests[i]
            interestNode.classList.add("interest")
            image  = document.createElement("img")
            image.src = `/static/images/interests/${interests[i]}.png`
            image.classList.add("interest-image")
            interestNode.appendChild(image)
            text = document.createElement('p')
            text.appendChild(document.createTextNode(interestText[interests[i]]))
            text.classList.add('interest-text')
            interestNode.appendChild(text)
            interestNode.onclick = (function (id){
                return function() {
                    check = document.getElementsByClassName(id)[0]
                    check.checked = !check.checked
                    document.getElementById(id).classList.toggle('checked')
                }
            })(interests[i])
            container.appendChild(interestNode)
        }
    }
</script>
{% endblock %}