{% extends 'base.html' %}

{% block head %}
<title>Modern Matrimony</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

{% endblock %}

{% block body %}
<div class="background"></div>
<nav>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        <div class="logo-text">Modern<br>Matrimony</div>
    </div>
</nav>
<div class="main-container">
    <h1>I'm Looking to</h1>
    <form action="" class="choice-form">
        <input type="checkbox" name="input" class="date">
        <input type="checkbox" name="input" class="marry">
        <input type="checkbox" name="input" class="not-sure">
        <div class="choice-container">
            <div class="date choice" onclick="func(date)">
                <h2>Date</h2>
                <img src="{{ url_for('static', filename='images/choices/date.png') }}" alt="">
            </div>
            <div class="marry choice" onclick="func(marry)">
                <h2>Marry</h2>
                <img src="{{ url_for('static', filename='images/choices/marry.png') }}" alt="">
            </div>
            <div class="not-sure choice" onclick="func(notsure)">
                <h2>I'm not sure</h2>   
                <img src="{{ url_for('static', filename='images/choices/not_sure.png') }}" alt=""> 
            </div>
        </div>
        <p>(You can always change this later on)</p>
        <input type="submit" id="submit" value="Next">
    </form>
</div>

<script>
    x = document.getElementsByClassName('choice')
    for (i in x){
        x[i].onclick = ((elem) => {
            return () => {
                check = document.getElementsByClassName(elem.classList[0])[0]
                check.checked = !check.checked
                elem.classList.toggle('checked')
            }
        })(x[i])
    }
</script>

{% endblock %}