{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registration2.css') }}">
<title>Modern Matrimony</title>
{% endblock %}

{% block body %}
<div class="background"></div>
<nav>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        <div class="logo-text">Modern<br>Matrimony</div>
    </div>
</nav>
<div class="main-container">
    <div class="form-container">
        <div class="head">
            <h1>Registration</h1>
            <h2>Other Details</h2>
        </div>
        <form action="" class="registration-form">
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/board_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Highest Education Level">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/briefcase_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Occupation">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/school_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Alma Matter">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/cake_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Date of Birth" onfocus="this.type='date'" onblur="this.type='text'">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/religion_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Religion">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/caste_icon.svg') }}" alt="">
                <input type="text" name="input" class="input" placeholder="Caste">
            </div>
            <div class="check-input">
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox" id="text-label">I Agree to All the <a href="">Terms and Conditions</a></label>
            </div>
            <input type="submit" id="submit" value="Finish">
        </form>
    </div>
</div>
{% endblock %}