{% extends 'base.html' %}

{% block head %}
<title>Modern Matrimony</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/registration.css' ) }}>
{% endblock %}

{% block body %}
<div id="background"></div>
<nav>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <div class="logo-text">Modern<br>Matrimony</div>
    </div>
</nav>
<div id="main-container">
    <div id="form-container">
        <div class="head">
            <h1>Registration</h1>
            <h2>Personal Details</h2>
        </div>
        <form action="" class="registration-form">
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="First Name" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="Last Name" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/person_icon.svg') }}" alt="">
                <input type="number" class="input" placeholder="Phone Number" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/at_icon.svg') }}" alt="">
                <input type="email" class="input" placeholder="Email I.D." name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/key_icon.svg') }}" alt="">
                <input type="password" class="input" placeholder="Password" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/gender_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="Gender" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/pin_icon.svg') }}" alt="">
                <input type="number" class="input" placeholder="Pin Code" name="input">
            </div>
            <div class="text-input">
                <img src="{{ url_for('static', filename='images/icons/city_icon.svg') }}" alt="">
                <input type="text" class="input" placeholder="City" name="input">
            </div>
            <input id="submit" type="submit" value="Next">
        </form>
    </div>
</div>
{% endblock %}